# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
*.vcxproj*
*.sln
.vs/

# CMake Files
CMakeFiles/
CTestTestfile.cmake
*.dir/
Testing/Temporary
cmake_install.cmake
DartConfiguration.tcl
CMakeCache.txt

# Build directories
Debug/
build/
debug/
dist/

# Microchip PIC Binaries
*.elf
*.hex

# Googletest files.
*.pc

# MPLAB Files
nbproject/Makefile-*
nbproject/Package-*
nbproject/private/
